body {
    background-color: #d3d3d3;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

.repo{
    transform: translate(0, 150%);
}

.redim{
    width: 50%;
}

.recenter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.login-content{
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #614E5A;
    height:100vh;
}

.btn-login{
    background-color: lightgray;
    transition: .3 ease-in
}

.btn-login:hover{
    background-color: lightpink;
    color: white;
    transition: .3 ease-in
}

.option-login a{
    text-decoration: none;
    color: #fff;
    transition: .3 ease-in;
}

.option-login a:hover{
    text-decoration: none;
    color: pink;
}

.btn-g2a{
    background-color: rgb(248, 187, 74);
    color: rgb(71, 71, 231);
    transition: .3 ease-in
}

.btn-g2a:hover{
    background-color: rgb(71, 71, 231);
    color: rgb(248, 187, 74);
    transition: .3 ease-in
}

.btn-eneba{
    background-color: rgb(212, 82, 212);
    color: lightpink;
    transition: .3 ease-in
}

.btn-eneba:hover{
    background-color: lightpink;
    color: rgb(212, 82, 212);
    transition: .3 ease-in
}

.btn-nuuvem{
    background-color: rgb(121, 201, 228);
    color: white;
    transition: .3 ease-in
}

.btn-nuuvem:hover{
    background-color: lightgray;
    color: rgb(54, 54, 184);
    transition: .3 ease-in
}
